.affected-devices-body-container {

}
#affected-devices-table-container {
  width: 90%;
  height: 100%;
  display: inline-block;
}

#affected-devices-table-container tbody {
  display: block;
  max-height: 250px;
  overflow-y: scroll;
}

#affected-devices-table-container tbody tr, 
#affected-devices-table-container thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-wrapper {
  text-align: center;
  margin: 20px;
}

.table-wrapper > tbody {
  display: block;
  height: 250px;
  overflow-y: auto;
  background-color: teal;
}

.modal-content-container {
  text-align: left;
}

.error-message-wrapper {
  justify-content: center;
}

.error-message {
  max-width: none;
}