#notification-preferences-body {
  padding: 1px;
}

#notification-preferences-container {
  margin-left: auto;
  margin-right: auto;
}

.notification-preferences-header {
  font-weight: normal !important;
  margin-top: 0px !important;
}

#error-message-wrapper, #success-message-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.error-message{
  max-width: 100%;
  margin-top: 50px;
}

.success-message{
  max-width: 100%;
  margin-top: 50px;
  height: 100% !important;
}

.status-column {
  width: 120px;
}

.notification-preferences-table{
  margin: 20px;
}

.notification-preferences-input-email{
  width: 100%;
  margin-right: 25px;
}

.notification-preferences-remove-email{
  margin-left: 10px;
  cursor: pointer;
}

.notification-preferences-save{
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-left: 10px;
}

.webhook-field{
  width: 100%;
  margin-right: 25px;
}

.add-webhook-button{
  height: 40px;
}

@media only screen and (min-width: 991px) {
  #notification-preferences-container {
    max-width: 75%;
  }
}