#notification-preferences-body {
  padding: 1px;
}

#notification-preferences-container {
  margin-left: auto;
  margin-right: auto;
}

.notification-preferences-header {
  font-weight: normal !important;
  margin-top: 0px !important;
}

#error-message-wrapper, #success-message-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.error-message, .success-message {
  max-width: 100%;
  margin-top: 50px;
}

.status-column {
  width: 120px;
}

@media only screen and (min-width: 991px) {
  #notification-preferences-container {
    max-width: 75%;
  }
}