.sidebar-user {
  margin-top: -9em;
  padding-top: 10px;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: white;
  width: 220px;
  flex-direction: column;
  align-content: baseline;
}

.sidebar-user > img {
  width: 81px;
}

.sidebar-user > .user-data {
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar-user > .user-data > h3 {
  font-family: arial;
  font-weight: 100;
  color: white;
  margin: 0;
}

.sidebar-user > .user-data > i {
  padding-left: 8px;
  color: rgba(0,0,0,.4);
}

.sidebar-user > .user-data > p {
  margin-bottom: 0px;
  color: white;
}

.sidebar-user.sidebar-collapsed {
  display: block;
  padding-left: 0px;
  margin-bottom: 0px;
  height: 107px;
  width: 80px;
}

.sidebar-collapsed .ui.dropdown {
  display: block;
  text-align: center;
}

.sidebar-collapsed .sidebar-username {
  display: none;
}

.sidebar-options-icon {
  display: none !important;
}

.sidebar-collapsed .sidebar-options-icon {
  display: inline-block !important;
}

.sidebar-collapsed .dropdown.icon {
  display: none !important;
}

.sidebar-user > .user-data.sidebar-collapsed {
  display: block;
  padding-left: 0px;
}

.sidebar-user > .user-data.sidebar-collapsed > p {
  font-size: 10px;
  text-align: center;
}

.sidebar-icon {
  cursor: pointer;
}

.sidebar-icon-space {
  margin-right: 15px;
  position: relative;
}

.sidebar-icon-space.sidebar-collapsed {
  margin-right: 0px;
}

#sidebar-user-data {
  position: fixed;
  bottom: 65px;
  left: 10px;
}

.logout-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  bottom: 2rem;
  position: fixed;
  left: 8px;
}

.collapse-button-wrapper {
  position: absolute;
  top: 109px;
  cursor: pointer;
  left: 209px;
  color: #37B9DC;
  background-color: white;
  -webkit-transition: left .2s cubic-bezier(.35,0,.25,1);
  -o-transition: left .2s cubic-bezier(.35,0,.25,1);
  transition: left .2s cubic-bezier(.35,0,.25,1);
  font-size: 1.2em;
  box-shadow: 0px 0px 9px rgba(0,0,0,.2);
  padding: 2px;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  z-index: 1 !important;
}

.collapse-button-wrapper.sidebar-collapsed {
  left: 69px;
  -webkit-transition: left .2s cubic-bezier(.35,0,.25,1);
  -o-transition: left .2s cubic-bezier(.35,0,.25,1);
  transition: left .2s cubic-bezier(.35,0,.25,1);
}

.collapse-button-mobile{
  position: absolute;
  left: 180px;
}
