.no-wrap {
    white-space: nowrap;
}

.tooltip-header {
    margin-bottom: 2px !important;
}

.column {
    padding: 5px !important;
}

.tooltip-item-icon {
    vertical-align: middle !important;
}

.item-tooltip {
    width: 180px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}